* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/Q07.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "header header header"
    "colornav handprint footprint";
  row-gap: 10px;
  outline: solid blue;
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica,
    sans-serif;
  font-size: 3rem;
  height: 2rem;
}

p {
  max-width: 30em;
}

.colornav {
  grid-area: colornav;
  display: grid;
  justify-content: center;
  height: 29rem;
  width: 6rem;
  background-image: linear-gradient(green, orange, red);
  border-radius: 15px;
  margin-left: 3em;
}

.colornav article {
  display: none;
  color: black;
  text-align: right;
  margin-left: 3em;
}

h2 {
  display: none;
}

.footprint {
  grid-area: footprint;
  text-align: center;
  background-color: lightgrey;
  width: 37rem;
  height: 31rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 40px;
  backdrop-filter: blur(5px);
  overflow: hidden;
}

/* footprint flexbox*/
.footprint {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footprint:hover {
  background-color: white;
}

.footprint svg {
  fill: red;
  filter: drop-shadow(3px 5px 5px rgb(234, 165, 146));
}

.handprint {
  grid-area: handprint;
  text-align: center;
  background-color: lightgrey;
  width: 37rem;
  height: 31rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 40px;
  backdrop-filter: blur(5px);
  overflow: hidden;
}

/* handprint flexbox */
.handprint {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-self: center;
  gap: 1rem;
}

.handprint:hover {
  background-color: white;
}

.handprint svg {
  fill: green;
  filter: drop-shadow(3px 5px 5px lightgreen);
}

.svg-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
}

.svghand-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1em;
}

.text-container {
  width: 18rem;
  height: 22rem;
}

h3 {
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica,
    sans-serif;
  font-size: 28px;
  margin: 0.5em;
  height: 2rem;
  text-align: center;
  color: black;
}

h4 {
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica,
    sans-serif;
  font-size: 1, 5rem;
  margin: 0.5em;
  text-align: center;
  line-height: 0, 5rem;
  color: black;
}

details {
  cursor: pointer;
}