* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("/Q07.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "header header header"
    "colornav handprint footprint";
  row-gap: 10px;
  outline: solid blue;
  height: 100vh;
}

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Arial Narrow", Arial, "Helvetica Condensed", Helvetica,
    sans-serif;
  font-size: 3rem;
  height: 2rem;
}

p {
  max-width: 30em;
}

.colornav {
  grid-area: colornav;
  display: grid;
  justify-content: center;
}

.colornav article:first-child {
  height: 31rem;
  width: 6rem;
  background-image: linear-gradient(red, orange, green);
  border-radius: 15px;
  color: red;
}

.footprint {
  grid-area: footprint;
  text-align: center;
  background-color: white;
  width: 37rem;
  height: 31rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 40px;
  backdrop-filter: blur(5px);
}

/* footprint flexbox*/
.footprint {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footprint svg {
  fill: green;
  filter: drop-shadow(3px 5px 5px lightgreen);
}

/* .footprint article:first-child {
  height: 30rem;
  width: 25rem;
  position: absolute;
} */

.handprint {
  grid-area: handprint;
  text-align: center;
  background-color: white;
  width: 37rem;
  height: 31rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 40px;
  backdrop-filter: blur(5px);
}

/* footprint flexbox */
.handprint {
  display: flex;
  justify-content: center;
  align-items: center;
}

.handprint svg {
  fill: red;
  filter: drop-shadow(3px 5px 5px coral);
}

/* .handprint article:first-child {
  height: 30rem;
  width: 25rem;
  position: absolute;
} */

.svg-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.svghand-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.text-container {
  display: inline-block;
  vertical-align: middle;
}

.styled-text {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.handprint {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.text1-container {
  display: inline-block;
  vertical-align: middle;
}

.styled1-text {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}
